/* css/bubble-animation.css */

#bubble-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

#bubble-svg {
    width: 100%;
    height: 100%;
}